body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    background: #F5F5F5;
    padding: 1em;
    overflow-y: scroll;
}
h1{
    text-align: center;
    font-size: 2em;
    color: #444;
    padding-bottom: 0.5em;
}
h2{
    text-align: center;
    font-size: 1.4em;
    color: #777;
    padding-bottom: 0.5em;
}
#issueLists{
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}
@media screen and (min-width: 800px) {
    #issueLists{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 3;
    }
}
@media screen and (min-width: 1300px) {
    #issueLists{
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}
.block{
    position: relative;
    min-width: 100%;
    display: inline-block;
    margin: 10px 0;
    padding: 0 5px;
}
.person{
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: -10px;
    margin-left: 15px;
    padding: 5px 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    display: flex;
    font-size: 24px;
    cursor: pointer;
}
ul {
    padding: 35px 10px 10px 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 2px;
    background: #fff;
}
li{
    display: flex;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
li:hover{
    color: red;
}
li:not(:last-child){
    margin-bottom: 10px;
}
li > * {
    padding: 10px;
}
li .drag-handle{
    cursor: move;
    cursor: -webkit-grabbing;
    background: rgba(0,0,0,0.2);
    color: #fff;
}
li .title{
    width: 100%;
    color: #fff;
    text-decoration: none;
}
.priority-low{
    background: #6DA79B;
}
.priority-medium{
    background: #F39F09;
}
.priority-high{
    background: #F26F21;
}
.priority-critical{
    background: #952715;
}
.ghost {
    opacity: 0.3;
}
.dont-break-out{
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.disable-selection {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}